<!DOCTYPE html>
<html>
	<head>
	</head>
	<body style="margin: 0; font-family: arial; color: #4c5357; padding-top: 30px">
		<table border="0" cellpadding="0" style="width: 350px; margin: 0 auto">
			<tbody>
				<tr>
					<td>
						<p style="text-align: center">
							<img alt="" src="http://www.onmiz.com/assets/img/logo-brand-en-100.png" style="width: 100px; height: 142px" />
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table border="0" style="width: 350px; margin: 10px auto 50px auto">
			<tbody>
				<tr>
					<td>
						<h1 style="font-size: 24px; color: #42445f">Activate your account</h1>
						<p>Welcome to Miz App!</p>
						<p>Your activation code is : %activation_code%</p>
					</td>
				</tr>
			</tbody>
		</table>
		<table border="0" style="width: 100%; background-color: #ededed; padding: 30px 40px">
			<tbody>
				<tr>
					<td>
						<p style="font-size: 12px">Copyright @2018 <a href="http://www.onmiz.com" target="_blank">Miz App</a>, All rights reserved</p>
						<p style="font-size: 12px">Miz Office: Unit No. 10, 5th Floor, 16th St., Bokharest St., Argentina Sq., Tehran, Iran, <a href="tel:+982188665157">+982188665157</a></p>
						<p style="font-size: 10px">if you don't want to recieve these emails, you can <a href="">Unsubscribe</a>.</p>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>